body,h1,h2,h3,p,quote,small,form,input,ul,li,ol,label{
    /* Page reset */
    margin:0px;
    padding:0px;
}
.clearfix::after {
	content: '';
	display: block;
	clear: both;
}
h1:nth-child(1) {
    font-family: "Myriad Pro",Arial,Helvetica,sans-serif;
    font-size: 42px;
    font-weight: normal;
    padding: 35px 0 5px;
}
strong, b {
    font-weight: bold;
}
h2 {
    font-family: "Myriad Pro",Arial,Helvetica,sans-serif;
    font-size: 16px;
    font-weight: normal;
    position: relative;
}
h2 a {
    text-decoration: none;
}
p a {
    text-decoration: bisque;
}
p:last-child{
    margin-bottom: 20px;
}
body{
    /* Setting default text color, background and a font stack */
    color:#444444;
    font-size:13px;
    background: #f2f2f2;
    font-family:Arial, Helvetica, sans-serif;
}
body {
    text-align: center;
}
.main {
    width: 960px;
    margin: 0 auto;
}
.slidesWrapper{
    width:960px;
    /* border:1px solid #ddd; */
    overflow: hidden;
    border-radius: 0 0 5px 5px;
    box-shadow:0 0 3px #AAAAAA;
    border:1px solid white;
    margin: 35px 0 35px;
}
.slides {
    display: flex;
    transition: all 1s;
}
.slides img{
    width: 100%;
}
.menu{
    margin: 0 auto;
    /* background-color: red; */
    background: #f2f2f2;
    background: -moz-linear-gradient(top, #f2f2f2 1%, #ffffff 27%, #ffffff 53%, #eaeaea 100%);
    background: -webkit-linear-gradient(top, #f2f2f2 1%,#ffffff 27%,#ffffff 53%,#eaeaea 100%);
    background: linear-gradient(to bottom, #f2f2f2 1%,#ffffff 27%,#ffffff 53%,#eaeaea 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#eaeaea',GradientType=0 );
}
.menu ul {
    display: inline-block;
    list-style: none;
    vertical-align: top;
}
.menu ul li{
    float: left;
    white-space: nowrap;
    padding: 16px 18px;
    border:1px solid rgb(221, 219, 219);
    border-top: 1px solid white;
    position: relative;
    cursor: pointer;
}
.menu ul li a {
    /* cursor: default; */
}
.triangle {
    position: absolute;
    display: block;
    width: 0px;
    border-top: 8px solid white;
    border-left:solid 8px transparent;
    border-right:solid 8px transparent;
    border-bottom:solid 8px transparent;
    box-shadow: 0px 11px 10px -11px rgba(153,153,153,1);
    left: 26px;
    top: 0px;
}
.liClass{
    box-shadow: inset 0px 0px 34px 1px rgba(153,153,153,0.6);
}